*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: sans-serif;
}

p{
    font-size: 20px;
}

.img-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-box div{
    width: 30%;
}

img {
    height: 100%;
    width: 100%;
}

 .scroll-link {
  
 }

